@import "colors.css";

/* General */
* {
  font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
  font-size: 15px;
  border-radius: 10px;
}

window#waybar {
  background-color: transparent; /* keep translucency via compositor */
  transition-duration: .1s;
}

button { border: none; border-radius: 0; }
button:hover { border: none; background: inherit; }

.modules-left { margin-left: 150px; }
.modules-right { margin-right: 150px; }

/* Workspaces */
#workspaces {
  margin: 0 0;
  padding: 0 20px;
  background-color: @primary_container;
  color: @on_primary_container;
  border-radius: 10px;
}
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @on_surface;
}
#workspaces button:hover {
  background-color: @inverse_primary;
  border-radius: 100%;
}
#workspaces button.active {
  box-shadow: inset 0px -2px @primary;
}
#workspaces button.urgent {
  background-color: @error_container;
  color: @on_error_container;
}

#clock, #custom-uair, #language, #pulseaudio, #network, #battery {
  padding: 0 20px;
  margin: 0 5px;
  background: @secondary_container;
  color: @on_secondary_container;
}

#custom-uair.resumed {
  background: @inverse_primary;
}

@keyframes blink {
  to { background-color: @on_error_container; color: @error_container; }
}
#battery.critical:not(.charging) {
  background-color: @error_container;
  color: @on_error_container;
  animation: blink 0.6s steps(12) infinite alternate;
}
